<div class="row justify-content-md-center mb-3">
	<a href="/residences" class="btn btn-primary col-md-6 rounded-0">Lista de Residencias</a>
</div>

<div class="row justify-content-md-center">
	<div class="col-md-6 p-0">
		<a href="/residences/<%=@r.id%>" class="cardlink">
			<div class="card box-shadow rounded-0 p-0 m-0">
				<img class="card-img-top rounded-0" src="<%=@r.img_link%>" alt="Card image cap">
				<div class="card-body">
					<p class="card-text"><strong><%=@r.nombre%></strong></p>
					<p class="card-text"><%=@r.desc%></p>
				</div>
			</div>
		</a>
	</div>
</div>
