<% provide(:title , 'Panel de administracion') %>

<div class="container">

	<h1>Panel de administracion</h1>

	<table class='table'>
		<tbody>
			<tr>
				<td>
					<a href="/users" class="btn btn-outline-primary rounded-0 col-12">Lista de Usuarios</a>
				</td>
				<td>
					<%= link_to "Nuevo administrador", new_admin_path, method: :get, class:'btn btn-outline-primary rounded-0 col-12' %>
				</td>
			</tr>
			<tr>
				<td>
					<a href="/residences" class="btn btn-outline-primary rounded-0 col-12">Lista de Residencias</a>
				</td>
				<td>
					<a href="/residences/new" class="btn btn-outline-primary rounded-0 col-12">Nueva Residencia</a>
				</td>
			</tr>
		</tbody>
	</table>

</div>
