

<% provide(:title , @admin.codigo) %>

<div class='row'>
  <aside class="col-md-12 text-center">
    <section class='admin_info'>
    <h1>
      <%= gravatar_for @admin %> <br>
      Código de administrador: <%= @admin.codigo %>
    </h1>
    </section>
  </aside>
</div>
