<div class="card">
  <div class="card-header text-center">
    Lista de Usuarios
  </div>
<div class="card-body">
  <div class="row">
    <div class="col-12">
      <div class="list-group" id="list-tab" role="tablist">
        <% usuarios.each do |user| %>
        <a href="/users/<%=user.id%>" class="list-group-item list-group-item-action" ><%=user.name%></a>

        <% end %>
      </div>
    </div>
  </div>

</div>
</div>
