<div class="row">
	<div class="col-12">
		<ul class="list-group">
			<li class="list-group-item rounded-0 active">Lista de usuarios</li>
			<% usuarios.each do |user| %>
				<li class="list-group-item rounded-0 text-capitalize">
					<% @premiumInfo = '' %>
					<% if (user.esPremium && !user.user_configs.esPremium) %>
						<% @premiumInfo = '<h3 style="display: inline-block;"><span class="badge badge-info rounded-0">●</span></h3>' %>
					<% end %>
					<% if (user.esPremium && user.user_configs.esPremium && (user.user_configs.fechaPremium >> 12) < Date.today) %>
						<% @premiumInfo = '<h3 style="display: inline-block;"><span class="badge badge-danger rounded-0">✗</span></h3>' %>
					<% end %>
					<a href="/users/<%=user.id%>" class="<%= @class %>">
						<%= user.name %> <%= @premiumInfo.html_safe %>
					</a>
				</li>
			<% end %>
		</ul>
	</div>
</div>
