<% provide(:title, @residence.nombre) %>

<div id="dtpc">
</div>
<script type="text/javascript">

	$(function () {

		$('#dtpc').html('<div id="dtp"></div>');
		$('#dtp').datetimepicker({
			inline: true,
			sideBySide: true,
			format: 'MM/dd/YYYY',
			daysOfWeekDisabled: [0, 2, 3, 4, 5, 6],
			minDate: new Date()
		});
		$("#dtp").on("dp.change", function(event) {
			var fecha = event.date._d.toJSON().split('T')[0];
			$("#bloque").attr("href", "/blocks/fecha/" + fecha + "/rid/" + "<%= @residence.id %>");
			$("#bloque").html(fecha);
		});
	});
</script>

<a href="" id="bloque" class="col btn btn-primary rounded-0 m-0"></a>

<% parent_layout "residencia" %>