<% provide(:title, @residence.nombre) %>

<div id="dtpc">
</div>

<script type="text/javascript">

	$(function () {

		var seis = (new Date()).setMonth(new Date().getMonth()+6);
		var ocho = (new Date()).setMonth(new Date().getMonth()+8);
		$('#dtpc').html('<div id="dtp"></div>');
		$('#dtp').datetimepicker({
			inline: true,
			sideBySide: true,
			format: 'MM/dd/YYYY',
			daysOfWeekDisabled: [0, 2, 3, 4, 5, 6],
			<% if logged_in_admin? %>
			minDate: new Date()
			<% else %>
			minDate: seis,
			maxDate: ocho
			<% end %>
			
		});
		$("#dtp").on("dp.change", function(event) {
			var fecha = event.date._d.toJSON().split('T')[0];
			var fechaLocal = moment(event.date._d.toUTCString()).format("DD-MM-YYYY");
			$("#bloque").attr("href", "/blocks/fecha/" + fecha + "/rid/" + "<%= @residence.id %>");
			$("#bloque").html(fechaLocal);
		});

		e = jQuery.Event("dp.change")
		e.date = $("#dtp").data("DateTimePicker").date();
		e.oldDate = $("#dtp").data("DateTimePicker").date();
		
		$('#dtp').trigger(e);

		$('.glyphicon.glyphicon-chevron-left').html('<');
		$('.glyphicon.glyphicon-chevron-right').html('>');

	});
</script>

<a href="" id="bloque" class="col btn btn-primary rounded-0 m-0"></a>

<% parent_layout "residencia" %>